* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    outline: 1px;
    outline-color: orange;
    outline-style: solid;
    position: relative;
}

body {
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 7.5px;
    border: solid #3882F6;
    margin: 5px 5px;
    width: 85px;
    height: 30px;
}

/* Styles for first section */

#section-1 {
    width: auto;
    height: 490px;
    background-color: #1F2937;
}

#section-1 .header {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section-1 .logo {
    width: auto;
    position: absolute;
    margin-left: 15%;
    margin-right: 2rem;
}

#section-1 .logo h1 {
    font-size: 24px;
    margin: auto 5px auto 5px;
    color: #F9FAF8;
}

#section-1 .links {
    position: absolute;
    right: 15%;
    margin-left: 40%;
}

#section-1 .links a {
    margin: 5px;
    font-size: 18px;
    color: #F9FAF8;
    text-decoration: none;
}

#section-1 .main {
    width: auto;
    height: 450px;
}

#section-1 .info {
    min-width: 20em;
    width: 31%;
    height: 14rem;
    margin: 110px 15%;
    position: absolute;
    flex-direction: column;
}

#section-1 .info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: auto 5px 5px;
}

#section-1 .info p {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 5px;
    margin-bottom: 5px;
}

#section-1 .img {
    position: absolute;
    right: 15%;
    margin-top: 110px;
    width: 30rem;
    height: 14rem;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for section 2 */

#section-2 {
    width: auto;
    height: 470px;
}

#section-2 .header {
    height: 80px;
    padding-top: 40px;
    text-align: center;
}

#section-2 > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#section-2 .main {
    height: 350px;
}

#section-2 .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    padding-left: 15%;
    padding-right: 15%;
}

#section-2 .img {
    height: 140px;
    width: 140px;
    border-radius: 15px;
    border-width: 3px;
    border: solid #3882F6;
}

#section-2 .bottom {
    display: flex;
    justify-content: space-evenly; 
    height: 190px;
    padding-left: 15%;
    padding-right: 15%;
}

#section-2 .info {
    height: 80px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    color: #1F2937;
}

/* Styles for section 3 */

#section-3 {
    height: 440px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-3 .quote {
    width: 850px;
    height: 200px;
}

#section-3 h1 {
    margin-left: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
