div {
    outline: 1px;
    outline-color: black;
    outline-style: solid;
}

body {
    margin: 0;
}

.section-1 {
    width: auto;
    height: 220px;
}

.header {
    width: auto;
    height: 30px;
}

.main {
    width: auto;
    height: 190px;
}